@import url(https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab);

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Light-BT.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf");
  font-weight: 200;
}

h1 {
  font-family: "Futura";
  /*text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  margin-bottom: 20px;
}

p {
  font-family: "Proxima Nova", font-weight: 200;
  font-size: 14px;
}

body {
    background-color: rgb(238, 238, 238);
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}



footer {
    margin: 50px 0;
}

.noPaddingText {
  padding-left: 8px;
  padding-right: 2px;
}

.noPaddingImage {
  padding-left: 2px;
  padding-right: 8px;
}

.projectImage {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 10px;
}

.projectText {
  margin: 10px 0 10px 0;
  padding: 2px 8px 1px 8px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#links ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

#links i {
    width: 40px;
    height: 40px;
    color: rgba(108, 122, 137, 1);
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 35px;
    text-align:center;
    padding-top: 4px;
    border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    -o-border-radius: 10%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

#links i:hover {
    color: black;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

@media (max-width: 992px) {
  .noPaddingImage {
    padding-right: 0px;
  }
  .noPaddingText {
    padding-left: 0px;
  }
}
