@import url(https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab);

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Light-BT.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.otf");
  font-weight: 200;
}

h1 {
  font-family: 'Roboto Slab', serif; font-weight: 300;
  margin-bottom: 20px;
}

p {
  font-family: "Proxima Nova", font-weight: 200;
}

body {
    background-color: rgb(238, 238, 238);;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


footer {
    margin: 50px 0;
}
.projectImage {
  margin-bottom: 10px;
}

@media (max-width: @screen-md-min) {
  .projectImage {
    margin-bottom: 70px;
  }
}
